html, body {
    height: 100%;
}
body {
    margin: 0;
    background-color: rgba(0, 0, 0, .06);

    font-family: "Courier New", "Helvetica Neue", Helvetica, sans-serif;
    color: #333;
}
.container {
    height: 100%;
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-end;
}

.wrapper {
    text-align: center;
    margin: 0 75px 75px 0;
}
.logo {
    font-size: 3.5em;
    margin-bottom: 10px;
}
.logo-domain {
    color: #999;
}
.label {
    font-size: 1.8em;
    color: rgba(0, 0, 0, .6);
}
.label b {
    color: #222;
}
